<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="http://www.vankeytech.com/2020/css/banding.css" />
    <title>签到</title>
</head>
<body>
<div class="container">
    <div class="content">
    </div>
    <div class="shuoming" style="margin: -3.8rem auto">
        <div style="color:red">还未到签到时间哦~</div>
        <div style="color:#ccc;font-size: .18rem">（2020年1月17日下午16:00开始）</div>
    </div>
</div>
</body>
</html>
